#footer {
  padding: 50px 0;
  border-top: 2px solid white;
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    h3 {
      color: white;
      font-weight: 300;
      color: white;
      font-size: 24px;
    }
    &--icons {
      display: flex;
      align-items: center;
      gap: 40px;
      a {
        color: white;
        font-size: 45px;
      }
    }
  }
}
