.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background: url(./img3/Vector2.png) no-repeat center/cover;
}

.mektep {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 100px;
  font-size: 7px;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(./img3/Vector2.png) no-repeat bottom/cover;
}
.bizdin {
  h1 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    line-height: 70px;
    letter-spacing: 3px;
  }
  p {
    color: rgba(255, 255, 255, 0.826);
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
  }
}

.togolok {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 30px 0;
}
.circle {
  position: absolute;
  left: -15px;
}
.circleText {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.line {
  display: flex;
  align-items: center;
  background: blue;
  width: 980px;
  height: 5px;
  border: none;
  margin: 100px 200px;
}

#text {
  padding: 100px 0;
}

.text {
  display: flex;
  justify-content: space-evenly;
}

.img {
  background: rgba(252, 114, 77, 1);
  width: 625px;
  height: 430px;
  img {
    margin-top: -50px;
    margin-left: -50px;
  }
}

.cards {
  margin: 0 20px 0;
   
  h1 {
    font-weight: 700;
    font-size: 30px;
    font-family: sans-serif;
  }
  h3 {
    color: rgba(0, 0, 0, 0.578);
    font-family: sans-serif;
    font-weight: 500;
  }
}
.card1 {
  display: flex;
  align-items: center;
  h4 {
    color: rgba(37, 43, 66, 1);
  }
  h2 {
    color: rgba(17, 0, 217, 1);
    font-family: sans-serif;
    font-weight: 500;
  }
}

.card2 {
  display: flex;
  align-items: center;
  h4 {
    color: rgba(37, 43, 66, 1);
  }
  h2 {
    color: rgba(17, 0, 217, 1);
    font-family: sans-serif;
    font-weight: 500;
  }
}

.card3 {
  display: flex;
  align-items: center;

  h4 {
    color: rgba(37, 43, 66, 1);
  }
  h2 {
    color: rgba(17, 0, 217, 1);
    font-family: sans-serif;
    font-weight: 500;
  }
}

.p {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  font-weight: 400;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 20px;

  button {
    width: 257px;
    height: 55px;
    top: 1606px;
    left: 591px;
    gap: 0px;
    border-radius: 16px;
    color: rgba(17, 0, 217, 1);
    border: 2px solid rgba(17, 0, 217, 1);
    border: blue;
  }
  button:hover {
    transform: scale(1.1);
    transition: 0.8s;
    background: blue;
    color: white;
  }
}

.teachers {
  h6 {
    font-family: sans-serif;
    font-size: 25px;
  }
}

.img5 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  overflow-x: scroll;
  h1 {
    font-family: sans-serif;
    line-height: 40px;
    font-weight: 600;
  }
  p {
    font-family: sans-serif;
  }
}

.gallery {
  margin: 80px 0;
}

.gallery1 {
  display: flex;
  align-items: center;
  width: 1140;
}

.karta {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.bailanash {
  line-height: 40px;
  h1 {
    font-family: sans-serif;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(./img3/bgr1.png) no-repeat center/cover;
  h1 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }
  h2 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }
  h4 {
    color: white;
    font-family: sans-serif;
  }
  ion-icon {
    color: white;
    width: 30px;
    font-size: 23px;
  }
}
.orto {
  ion-icon {
    padding: 0 5px;
  }
  img {
    margin: 20px 0 0 0;
  }
}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 600px;
  background: url(./img3/bgr2.png) no-repeat center/cover;
  h5 {
    color: white;
    font-family: sans-serif;
  }
}
.motion {
  display: flex;
  img {
    padding: 10px 0;
  }
}
