#header {
  padding: 30px 0;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(4px);
  z-index: 99;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      width: 600px;
      padding: 10px 20px;
      border: 2px solid white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 20px;
      gap: 30px;
      a {
        color: white;
        font-size: 22px;
        font-weight: 500;
      }
      h2 {
        color: white;
        font-size: 30px;
        cursor: pointer;
        margin-left: 200px;
      }
    }
    &--search {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        font-size: 30px;
        color: white;
      }
    }
  }
}
